*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Plain Light";
}
html,body{
    width: 100%;
    height: 100%;
}
#crsr{
    width: 2vw;
    height: 2vw;
    /* color: #fff; */
    border-radius: 50%;
    position: fixed;
    z-index: 99999;
    border: 1px solid rgba(255, 255, 255, 0.904);
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}
#loader{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
    padding: 25vh 10vw;
}
.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
}
#line1-part1 h5 , #line1-part1 h6{
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 100;
}
#line1-part1 h5{
     text-align: right;
     width: 5vw;
     /* background-color: red; */
}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line h2{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
    animation-name: fontChanger;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}
@keyframes fontChanger {
    0%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px  #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px#fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px#fff;
        color:transparent;
        font-weight: 500;
        opacity: 0;
    }
}
#main{
    position: relative;
    background-color: #151515;
}
#page1{
    width: 100%;
    height: 100vh;
    background-color: #131111;
}
#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;
}
#nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
#nav-part2 h4{
    font-size: 0.9vw;
    font-weight: 500;
}
.hero{
    /* background-color: red; */
    width: 72%;
    margin-left: 27%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.hero:nth-child(2)
{ 
    margin-top:18vh;
}
.hero h1{
    font-size: 7.2vw;
    text-transform: uppercase;
    line-height: 7.2vw;
    font-weight: 600;
    /* text-align: center; */
}
.hero h2{
    font-size: 7.2vw;
    text-transform: uppercase;
    line-height: 7.2vw;
    font-weight: 600;
    /* text-align: center; */
}
.hero h2:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
}

